<!doctype html>
<html lang="en">


<body class="bg-light">


    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="http://www.cdcouncil.com/images/yellowIcon_barGraph.png" alt=""
                width="72" height="72">
            <h2>Finanzas Personales </h2>
            <h4> {{title}}</h4>
            <hr class="mb-4">
            <p class="lead">Periodo : {{period}}</p>
            <hr class="mb-4">
        </div>

        <div class="alert alert-secondary" role="alert">
            <h4>Creación de cuentas</h4>
        </div>

        <form class="needs-validation" action="/accounts/register" method="POST" novalidate>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="" required>
                    <div class="invalid-feedback">
                        Escribe Nombre de la Cuenta.
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="country">Categoría</label>
                    <select class="custom-select d-block w-100" name="type" required>
                        <option value="">Seleccionar...</option>
                        <option>Debit</option>
                        <option>Credit</option>
                    </select>
                    <div class="invalid-feedback">
                        Selecciona una categoría.
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="country">Balance Inicial</label>
                    <input type="text" class="form-control" name="balance" placeholder="" value="{{type}}" required>
                    <div class="invalid-feedback">
                        Define Balance Inicial.
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="country">Día de Corte</label>
                    <input type="text" class="form-control" name="dueDay" placeholder="" value="{{type}}" required>
                    <div class="invalid-feedback">
                        Especifica día de corte.
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="country">Día de Pago</label>
                    <input type="text" class="form-control" name="paymentDay" placeholder="" value="{{type}}" required>
                    <div class="invalid-feedback">
                        Especifica día de Pago.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <a class="btn btn-outline-secondary btn-lg btn-block" href="/">Ir a Dashboard</a>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-outline-success btn-lg btn-block" type="submit">Registrar Nueva Cuenta</button>
                </div>
            </div>


        </form>
    </div>

    <hr class="mb-4">

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Meny</p>
    </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/holder.min.js"></script>
    <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');

                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
    </script>
</body>

</html>