<div class="alert alert-secondary" role="alert">
    <h4>Edicion de transacciones</h4>
</div>

<form class="needs-validation" action="/transactions/update" method="POST" novalidate>

    <input type="hidden" name="id" value="{{id}}">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="firstName">Fecha</label>
            <input type="text" class="form-control" name="date" placeholder="" value="{{date}}" required>
            <div class="invalid-feedback">
                Selecciona una fecha.
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="firstName">Importe</label>
            <input type="text" class="form-control" name="amount" placeholder="" value="{{amount}}" required>
            <div class="invalid-feedback">
                Define el importe.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="country">Categoría</label>
            <select class="custom-select d-block w-100" name="category" required>

                <option value="{{transactionItem}}">{{transactionItem}}</option>
                {{#each categories}}
                {{#if this}}
                <option>{{this}}</option>
                {{/if}}
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Selecciona una categoría.
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-md-3 mb-3">
            <label for="country">Cuenta</label>
            <select class="custom-select d-block w-100" name="account" required>
                <option value="{{account}}">{{account}}</option>
                {{#each accounts}}
                {{#if this}}
                <option>{{ this }}</option>
                {{/if}}
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Selecciona una cuenta.
            </div>
        </div>
        <div class="col-md-9 mb-3">
            <label for="firstName">Descpripción</label>
            <input type="text" class="form-control" name="description" placeholder="" value="{{description}}">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3">
            <button class="btn btn-outline-success btn-lg btn-block" type="submit">Guardar Cambios a Transacción</button>
        </div>
    </div>
    <hr class="mb-4">
    <div class="row">

        <div class="col-md-6 mb-3">
            <a class="btn btn-outline-primary btn-lg btn-block" href="/transactions/view">Ver todas las
                transacciones</a>
        </div>

        <div class="col-md-6 mb-3">
            <a class="btn btn-outline-secondary btn-lg btn-block" href="/">Ir a Dashboard</a>
        </div>
    </div>
</form>